<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Page</title>
    
</head>
<body>
    <h1>Welcome to To do list app</h1>
    <div class="container">
        <h2>Search Papers</h2>
        <p>Enter keywords to search for academic papers.</p>
        <form id="search-form" action="" method="post">
            <template class="input_form" id="input_form">
                <div class="keyword_entry" id="keyword_entry">
                    <label>Keyword:</label>
                    <input type="text" name="keyword" placeholder="Enter keyword" required>
                    <br>
                </div>
            </template>

            <div class="keyword_entry" id="keyword_entry">
                <label>Keyword:</label>
                <input type="text" name="keyword" placeholder="Enter keyword" required>
                <br>
            </div>
            
            <div class="buttons">
                <button type="button" id="add_button">+</button>
                <button type="button" id="delete_button">-</button>
                <br>
                <input type="radio" id="and" name="logic" value="AND" required>
                <label for="and">AND</label>
                <input type="radio" id="or" name="logic" value="OR">
                <label for="or">OR</label>
                <br>
                <button id="submit_button">Search</button>
            </div>
        </form>
    </div>
    <script src = "{{ url_for('static', filename='js/search_paper.js') }}"></script>
</body>
